
.no-decoration[data-v-66ca9d33] {
  text-decoration: none;
  color: inherit;
}
.designed[data-v-66ca9d33] {
  padding-left: 10%;
  border-radius: 50px 50px 50px;
  background-color: white;
}
.raisedbox[data-v-66ca9d33] {
  padding: 10px;
  border: 1px solid #8dba2c;
  box-shadow: 4px 5px 0px 0px #8dba2c;
  -webkit-box-shadow: 4px 5px 0px 0px #8dba2c;
  -moz-box-shadow: 4px 5px 0px 0px #8dba2c;
}
