
h4[data-v-52802990] {
  margin: 0px;
  padding-bottom: 20px;
}
.rounded[data-v-52802990] {
  border-radius: 25px;
}
.solidBorder[data-v-52802990] {
  border: 1px solid;
}
.raisedbox[data-v-52802990] {
  padding: 20px;
  /* border: 1px solid #669900; */
  box-shadow: 0px 0px 20px -9px rgb(108, 109, 106);
  -webkit-box-shadow: 0px 0px 20px -9px rgb(108, 109, 106);
  -moz-box-shadow: 0px 0px 20px -9px rgb(108, 109, 106);
}
